flask
flask-sqlalchemy
flask-migrate
flask-bcrypt
flask-jwt-extended
flask-cors
flask-limiter
flask-testing
python-dotenv
psycopg2-binary
google-generativeai
google-auth
reportlab
gunicorn
pytest
werkzeug